MONGO_URL="mongodb://localhost:27017"
DB_NAME="test_database"
CORS_ORIGINS="*"
JWT_SECRET="REPLACE_WITH_YOUR_OWN_SECRET"
ADMIN_EMAIL="factory@maxxdoors.com.au"
ADMIN_PASSWORD="REPLACE_WITH_YOUR_OWN_PASSWORD"
FRONTEND_URL="https://inspect-track-28.preview.emergentagent.com"
EMERGENT_LLM_KEY="REPLACE_WITH_YOUR_OWN_KEY"
